In [9]:
import pandas as pd
import numpy as np

In [3]:
pd.IntervalIndex.from_tuples([(0, 1), (1, 2)])

IntervalIndex([(0, 1], (1, 2]]
              closed='right',
              dtype='interval[int64]')

In [15]:
df = pd.DataFrame(columns=['Bathrooms', 'Category'])

In [16]:
df = df.append({'Bathrooms': 1}, ignore_index=True)
df = df.append({'Bathrooms': 2}, ignore_index=True)
df = df.append({'Bathrooms': 3}, ignore_index=True)
df = df.append({'Bathrooms': 4}, ignore_index=True)
df = df.append({'Bathrooms': 5}, ignore_index=True)
df = df.append({'Bathrooms': 6}, ignore_index=True)
df = df.append({'Bathrooms': 5}, ignore_index=True)

In [17]:
df

   Bathrooms  Category
0        1.0       NaN
1        2.0       NaN
2        3.0       NaN
3        4.0       NaN
4        5.0       NaN
5        6.0       NaN
6        5.0       NaN

In [28]:
mybins = pd.IntervalIndex.from_tuples([(1, 2), (3, 4), (5, np.inf)], closed='both')

In [30]:
pd.cut(df['Bathrooms'], bins=mybins, labels=['12','34','4+'], precision=0, )

0    [1.0, 2.0]
1    [1.0, 2.0]
2    [3.0, 4.0]
3    [3.0, 4.0]
4    [5.0, inf]
5    [5.0, inf]
6    [5.0, inf]
Name: Bathrooms, dtype: category
Categories (3, interval[float64]): [[1.0, 2.0] < [3.0, 4.0] < [5.0, inf]]